body{
    background-color: #3D087B;
}
.clockimg{
    position: absolute;
    top: 34px;
    left: 124px;
}
.settime{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 38%;
    height: 50%;
    position: absolute;
    top: 149px;
    left: 124px;
}
.fistdropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.secondropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.thirddropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.fourthdropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.settimelogo{
    width: 34px;
    height: 34px;
    
}

.instr{
    color: #3D087B;
    font-size: 18px;
}

.time{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    width: 536px;
    height: 130px;
    position: absolute;
    top: 42px;
    left: 706px;
}
.texttime{
    font: normal normal 600 20px/32px Manrope;
    color: #3D087B;
    position: relative;
    top: 53px;
}
.dot
{
    width: 4px;
    height: 22px;
    size: 7px;
}
.dot1{
    
    position: absolute;
    top: 47px;
    left: 196px;
}
.dot2{
    
    position: absolute;
    top: 47px;
    left: 308px;
}
.hrs{
    background-image: url(./media/timeline.jpg);
    width: 80px;
    height: 90px;
    font-size: 36px;
    align-self: center;
    text-align: center;
    color: #8A11BF;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.mins{
    background-image: url(./media/timeline.jpg);
    width: 80px;
    height: 90px;
    font-size: 36px;
    align-self: center;
    text-align: center;
    color: #8A11BF;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.secs{
    background-image: url(./media/timeline.jpg);
    width: 80px;
    height: 90px;
    font-size: 36px;
    align-self: center;
    text-align: center;
    color: #8A11BF;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.M{
    background-image: url(./media/AM_svg.jpg);
    width: 80px;
    height: 90px;
    font-size: 36px;
    align-self: center;
    text-align: center;
    color: #8A11BF;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.wishes{
    background-color: #8A11BF;
    color: #FFFFFF;
    width: 37%;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 18.8em;
    left: 4.9em;
    font-weight: bolder;
    
}
.texttime{
    font: normal normal 600 20px/32px Manrope;
    color: #3D087B;
    position: relative;
    top: 50px;

}
.advice{
    color: #8E53F0;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size:20px;
    background-color: #FFFFFF;
    width: 536px;
    height: 118px;
    text-align: center;
    text-shadow: 1px 2px 2px ;
    align-items: center;
    position: absolute;
    top: 212px;
    left: 706px;
    text-transform: uppercase;
}

.timings{
    background-color: #8A11BF;
    color: #F25CFE;
    width: 17%;
    height: 117px;
    text-align: left;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    top:  29em;
    left:28.5%;

}
.btn{
    width: 20%;
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(113deg,#6E54EC,#CB52F8, #FC5EFF, #F1A7C5);
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
    top: 21.4em;
    left: 8%;
}
.btn:hover{
    background-image: linear-gradient(#F1A7C5,#FC5EFF,#CB52F8,#6E54EC);
    box-shadow: 0px 0px 5px lightgray;
}
.image{
    position: absolute;
    top: 345px;
    left: 707px;
    width: 36.5%;
    height: 46%;
    border-radius: 10px;
    background-image: url(./media/Component\ 30\ –\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
}

.icons-container{
    display: none
}
.mobile-img2{
    display: none;
}
.mobile-img3{
    display: none;
}
.mobile-img4{
    display: none;
}


@media only screen and (min-width:250px) and (max-width:750px){
    body{
        min-height: 160vh;
    }
    .clockimg{
        position: relative;
        top:20px;
        left: 2%;
        margin-left: 5%;
    }
    .clock_logo{
        width: 60%;
    }

    .time{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #FFFFFF;
        border: 1px solid #EDEDED;
        border-radius: 5px;
        width: 90%;
        height: 130px;
        position: relative;
        top: 1%;
        left: 1%;
        margin-top: 9%;
        margin-left: 5%;
    }

   
    .hrs{
        background-image: url(./media/timeline.jpg);
        width: 13%;
        height: 35%;
        font-size: 36px;
        align-self: center;
        text-align: center;
        color: #8A11BF;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mins{
        background-image: url(./media/timeline.jpg);
        width: 13%;
        height: 35%;
        font-size: 36px;
        align-self: center;
        text-align: center;
        color: #8A11BF;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .secs{
        background-image: url(./media/timeline.jpg);
        width: 13%;
        height: 35%;
        font-size: 36px;
        align-self: center;
        text-align: center;
        color: #8A11BF;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .M{
        background-image: url(./media/timeline.jpg);
        width: 13%;
        height: 35%;
        font-size: 36px;
        align-self: center;
        text-align: center;
        color: #8A11BF;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dot{
        display: none;
    }

    .settime{
        background-color: #FFFFFF;
        display: flex;
        border-radius: 10px;
        width: 90%;
        height: 30vh;
        position: relative;
        top: 1%;
        left: 1%;
        margin-left: 5%;
        margin-top: 6%;
    }

    .fistdropdown{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

.timeselect1{
    position: relative;

}
.instr{
    position: relative;
}

.advice{
    width: 90%;
    position: relative;
    top: 2em;
    left: 5%;
    height: 3em;

}

.image{
    width: 90%;
    position: relative;
    top: 5%;
    top: 3em;
    left: 5%;
    visibility: visible;
    height: 12em;
    }
    .timings{
        position: relative;
        top: 2em;
        width: 90%;
        left: 5%;
    }

    .btn{
        position: relative;
        top: 1em;
        width: 90%;
        left: 5%;
    }

    .wishes{
        position: relative;
        width: 90%;
        top: 0.5em;
        left: 5%;
    }
}


















